<header class="container-fluid py-2">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Logotipo -->
    <p style="font-weight: bold; font-size: large;">SIAN LOGOTIPO</p>

    <!-- Campo de busca -->
    <div class="flex-grow-1 ms-3">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar serviços ou profissionais"
          aria-label="Buscar serviços ou profissionais"
        />
      </div>
    </div>
  </div>
</header>
