// Variáveis
$scroll-btn-size: 40px;
$scroll-btn-bg: rgba(255, 255, 255, 0.8);
$scroll-btn-hover-bg: rgba(0, 0, 0, 0.1);
$icon-size: 1.5rem;

.services-nav {
  overflow: hidden; // Esconde o conteúdo que ultrapassa
  white-space: nowrap;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;

  position: relative; // Para posicionar os botões de scroll

  .services-wrapper {
    display: flex;
    gap: 1rem;
    overflow-x: auto; // Permite rolagem horizontal
    scroll-behavior: smooth; // Animação para rolagem suave
    padding: 0 3rem; // Espaço para os botões de navegação
    /* Ocultar a barra de rolagem */
    scrollbar-width: none; // Para navegadores Firefox
    -ms-overflow-style: none; // Para navegadores Internet Explorer e Edge
  }
  .services-wrapper::-webkit-scrollbar {
    display: none; // Para navegadores baseados em WebKit (Chrome, Safari, Edge moderno)
  }

  .service-item {
    flex: 0 0 auto;
    text-align: center;
    width: 80px;
    text-decoration: none;
    color: #333;
    margin: 0 2.5rem;

    &:hover {
      color: #007bff;
    }

    i {
      font-size: $icon-size;
      display: block;
      margin-bottom: 0.5rem;
    }

    span {
      font-size: 0.875rem;
    }
  }

  // Botões de navegação
  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $scroll-btn-size;
    height: $scroll-btn-size;
    border: none;
    background-color: $scroll-btn-bg;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;

    &:hover {
      background-color: $scroll-btn-hover-bg;
    }

    i {
      font-size: 1.25rem;
    }

    &.left {
      left: 0.5rem;
    }

    &.right {
      right: 0.5rem;
    }
  }
}
