<nav class="container services-nav position-relative">
  <div class="mb-5">
    <button class="scroll-btn left" (click)="scrollLeft()">
      <i class="bi bi-chevron-left"></i>
    </button>

    <div class="services-wrapper" #servicesWrapper>
      <a href="#" class="service-item">
        <i class="bi bi-house"></i>
        <span>Mestre de Obras</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-car-front"></i>
        <span>Pintor</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-briefcase"></i>
        <span>Negócios</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-phone"></i>
        <span>Instalações</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-heart"></i>
        <span>Engenheiros</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-house"></i>
        <span>Mestre de Obras</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-car-front"></i>
        <span>Pintor</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-briefcase"></i>
        <span>Negócios</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-phone"></i>
        <span>Instalações</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-heart"></i>
        <span>Engenheiros</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-house"></i>
        <span>Casa</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-car-front"></i>
        <span>Pintor</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-briefcase"></i>
        <span>Negócios</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-phone"></i>
        <span>Instalações</span>
      </a>
      <a href="#" class="service-item">
        <i class="bi bi-heart"></i>
        <span>Engenheiros</span>
      </a>
      <!-- Adicione mais itens aqui -->
    </div>

    <button class="scroll-btn right" (click)="scrollRight()">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</nav>
