<nav class="d-md-none fixed-bottom bg-light border-top p-2">
  <ul class="nav d-flex justify-content-around">
    <li class="nav-item text-center">
      <a href="#home" class="nav-link">
        <i class="bi bi-house"></i><br>Home
      </a>
    </li>
    <li class="nav-item text-center">
      <a href="#busca" class="nav-link">
        <i class="bi bi-search"></i><br>Busca
      </a>
    </li>
    <li class="nav-item text-center">
      <a href="#profissionais" class="nav-link">
        <i class="bi bi-person"></i><br>Profissionais
      </a>
    </li>
    <li class="nav-item text-center">
      <a href="#favoritos" class="nav-link">
        <i class="bi bi-heart"></i><br>Favoritos
      </a>
    </li>
    <li class="nav-item text-center">
      <a href="#perfil" class="nav-link">
        <i class="bi bi-person-circle"></i><br>Perfil
      </a>
    </li>
  </ul>
</nav>

<!-- Menu hambúrguer no desktop -->
<nav class="d-none d-md-block position-absolute end-0 top-0 p-3">
  <button class="btn" type="button">
    <span>OFEREÇA SEU SERVIÇO</span>
  </button>
  <button class="btn" type="button">
    <span>INDIQUE UM PROFISSIONAL</span>
  </button>
  <button class="btn" type="button">
    <span>CADASTRE-SE</span>
  </button>
  <button class="btn" type="button">
    <span>ACESSE SUA CONTA</span>
  </button>
</nav>


