<footer class="d-none d-md-block bg-dark text-white p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li><a href="#sobre" class="text-white">Sobre nós</a></li>
          <li><a href="#contato" class="text-white">Contato</a></li>
          <li><a href="#politica" class="text-white">Política de Privacidade</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-end">
        <p>&copy; 2024 - MeuSite. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>

