<footer class="d-none d-md-block bg-dark text-white p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>INSTITUCIONAL</h5>
        <ul class="list-unstyled">
          <li><a href="" class="text-white">Sobre nós</a></li>
          <li><a href="" class="text-white">Como Funciona</a></li>
          <li><a href="" class="text-white">Perguntas Frequentes</a></li>
          <li><a href="" class="text-white">Contato</a></li>
          <li><a href="" class="text-white">Dicas de Segurança</a></li>
          <li><a href="" class="text-white">Política de Privacidade</a></li>
          <li><a href="" class="text-white">Blog Sian</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>LOCAIS</h5>
        <ul class="list-unstyled">
          <li><a href="" class="text-white">Belo Horizonte</a></li>
          <li><a href="" class="text-white">Rio de Janeiro</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>CATEGORIAS DE SERVIÇOS</h5>
        <ul class="list-unstyled">
          <li><a href="" class="text-white">Pintor</a></li>
          <li><a href="" class="text-white">Mestre de Obras</a></li>
          <li><a href="" class="text-white">Pedreiro</a></li>
          <li><a href="" class="text-white">Marceneiro</a></li>
          <li><a href="" class="text-white">Pintor</a></li>
          <li><a href="" class="text-white">Mestre de Obras</a></li>
          <li><a href="" class="text-white">Pedreiro</a></li>
          <li><a href="" class="text-white">Marceneiro</a></li>
          <li><a href="" class="text-white">Pintor</a></li>
          <li><a href="" class="text-white">Mestre de Obras</a></li>
          <li><a href="" class="text-white">Pedreiro</a></li>
          <li><a href="" class="text-white">Marceneiro</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>PARA PROFISSIONAIS</h5>
        <ul class="list-unstyled">
          <li><a href="" class="text-white">Ofereça seu serviço</a></li>
          <li><a href="" class="text-white">Seja Premium</a></li>
        </ul>
      </div>
    </div>
  </div>
  <small>&copy; 2024 - MeuSite. Todos os direitos reservados.</small>
</footer>

